@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);

:root {
    --primary-color: #ff7c5c;
    --secondary-color: #7e7e7e;
}

/* Typography
================================================== */

body {
    background: #fff;
    color: #555;
}

body,
p {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    line-height: 26px;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}

.colored {
    color: var(--primary-color);
}

/* Global styles
================================================== */
html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

.form-control {
    background: transparent;
}

.form-control:focus {
    box-shadow: none;
    background: transparent;
}

.accordion-item :focus {
    box-shadow: none;
    background: transparent;
    color: var(--primary-color);
}

a {
    color: black;
    text-decoration: none;
}

/* Button */
.btn:active,
.btn:focus {
    box-shadow: none !important;
}

.primary-btn {
    background-color: var(--primary-color);
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    outline: none;
}

.bordered-btn {
    background-color: white;
    padding: 15px 30px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    outline: none;
}

.sm {
    padding: 8px 30px;
}

.primary-btn:hover {
    color: white;
}

.bordered-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

/* navbar */
.top-nav {
    background-color: var(--primary-color);
    color: white;
}

/* specialtys */
.specialtys-icon {
    background: white;
    width: 70px;
    height: 70px;
    box-shadow: 1px 1px 5px #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    position: absolute;
    top: -50%;
}

.specialtys-card {
    box-shadow: 1px 1px 5px #c5c5c5;
}

/* specialtys */
.package-image {
    position: relative;
}

.package-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
}

/* about */
.accordion_item{}
.accordion_header{}
.accordion_body{}


/* media querys */
@media only screen and (max-width: 600px) {
    .search-form{
        position: static;
    }
    .search-form .input-group{
        border: none;
        border-bottom: 1px solid #e5e5e5;
        margin: 10px 0;
    }
}